<div class="container">
  <div class="row">
      <div class="col s8 offset-1">
        <div class="card-panel teal lighten-2">
          <h4 class="center white-text">Image Library</h4>
        </div>
        <form #imageForm ngForm >
          <div class="row">
            <div class="input-field col s12">
              <input type="text" #Caption ngModel name="Caption" id="Caption" required>
              <label for="Caption">Caption</label>
            </div>
          </div>
          <img [src]="imageUrl" style="width: 200px;height: 180px;">
            <input type="file" #Image (change)="handleFileInput($event.target.files)" #Image accept="image/*" >
            <button type="submit" class="btn-large btn-submit" [disabled]="Image.value==''">Submit</button>
        </form>
      </div>
  </div>
</div>
