
.main{
    position: fixed;
    width: 100%;
    height:100%;
    /* background-color: #83868a */
    background: url('./../image/realmadrid.jpg');
    background-size:100% 100%
}
.second{
    position: relative;
    top: 50%;
    left: 50%;
    width: 280px;
    height: 280px;
    margin: -100px 0px 0px -100px;
}
.name, .password{
    margin-top: 20px;
    width: 120px;
    height: 30px;
    text-indent: 30px;
}
.btn{
    width: 120px;
    background-color: #409eff;
    border: 1px solid #409eff;
    height: 40px;
    margin-top: 20px;
    color: white;
    border-radius: 7px;
}
.footer{
  display: flex;
  justify-content: space-between;
}
i{
    margin-left:-22px ;
    font-size: 13px;
}

.regmain{
    position: relative;
    width: 350px;
    height: 300px;
    background-color: rgb(240, 240, 240);
    top: 50%;
    left: 50%;
    border-radius:15px ;
    margin: -400px 0px 0px -150px; ;
}
.regsec{

    margin: 50px 0px 0px 50px
}
#regname{
    width:200px;
    margin-top: 30px;
    height: 30px;
}
#regpass{
    width:200px;
    height: 30px;
    margin-top: 20px;
}
.regbtn{
    width:97px;
    height: 40px;
    margin-top:20px ;
    border-radius: 5px;
    border:1px solid #409eff;
    background-color: #409eff;
}
.regcancel{
    width:97px;
    height: 40px;
    margin-left:20px ;
    border-radius: 5px;
    border:1px solid #409eff;
    background-color: #409eff;
}
